{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>Collaborify: Новини</title>
{% endblock %}

{% block content %}
  <link rel="stylesheet" href="{% static 'css/main_page.css' %}">
  <h1>Список новин</h1>
  <div class="layout-container">
    <div class="news-box1">
        {% for article in news %}
            <a class="news-item" href="{% url 'news-detail' pk=article.id %}">
                <h2>{{ article.title }}</h2>
                <p>{{ article.content }}</p>
                <p>{{ article.created_at }}, by {{ article.author }}</p>
            </a>
        {% endfor %}
    </div>
  </div>
{% endblock %}