{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>Collaborify: Деталі новини</title>
{% endblock %}

{% block content %}
  <link rel="stylesheet" href="{% static 'css/news-detail.css' %}">
  <h1>{{ news_item.title }}</h1>
  <p><strong>Автор:</strong> {{ news_item.author.first_name }} {{ news_item.author.last_name }}</p>
  <p><strong>Дата:</strong> {{ news_item.created_at|date:"d.m.Y H:i" }}</p>
  <p class="news-content">{{ news_item.content|linebreaksbr }}</p>
  {% if news_item.editor %}
    <p><strong>Редактор:</strong> {{ news_item.editor.first_name }} {{ news_item.editor.last_name }}</p>
  {% endif %}
{% endblock %}