{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>Collaborify: Корисні Посилання</title>
{% endblock %}

{% block content %}

  <h1>Корисні Посилання</h1>
  <a href="https://www.python.org/">Python</a>
  <a href="https://docs.djangoproject.com/en/5.1/" style="margin-top: 7px; display: block;">Django documentation</a>
  <a href="https://github.com/Coder2287569013/Group_portal_collaborify" style="margin-top: 7px; display: block;">Our Github</a>
  <a href="https://stackoverflow.com/" style="margin-top: 7px; display: block;">Stack Overflow</a>

{% endblock %}