body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #273232;
    color: #FFFFFF;
}

.navbar {
    background-color: #6a9733;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0 20px;
}

.navbar .logo-section {
    display: flex;
    align-items: center;
}

.navbar img {
    height: 80px; 
    width: auto;  
    margin-right: 10px; 
}

.navbar .home {
    font-size: 32px;
    color: #FFFFFF;
    text-decoration: none;
}

.burger {
    background: none;
    border: none;
    font-size: 30px;
    color: #FFFFFF;
    cursor: pointer;
}

.offcanvas-menu {
    position: fixed;
    top: 0;
    right: -250px; 
    width: 250px;
    height: 100%;
    background-color: #87d22f;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: right 0.5s ease;
}

.offcanvas-menu a,
.offcanvas-menu button {
    color: #FFFFFF;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 18px;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.offcanvas-menu a:hover,
.offcanvas-menu button:hover {
    background-color: #76b92a;
}

.offcanvas-menu.active {
    right: 0;
}

@media screen and (max-height: 400px) {
    .offcanvas-menu a,
    .offcanvas-menu button {
        padding: 11px 16px;
        font-size: 13px;
    }
}