
#modal-box {
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    max-width: 100%;
}

#modal{
    position: relative;
    top:-50%;
    border-radius: 6px;
}

#modal::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}
#close-modal-btn{
    float: right;
    border: none;
    outline: none;
    background-color:white;
    color: red;
}

#close-modal-btn:hover{
    border-radius: 20px;
    background: red;
    color: black;
}