{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Создать новый опрос</h1>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.title.label_tag }}
            {{ form.title }}
            {% if form.title.errors %}
                <div class="alert alert-danger">
                    {{ form.title.errors }}
                </div>
            {% endif %}
        </div>
        
        <div class="mb-3">
            {{ form.description.label_tag }}
            {{ form.description }}
            {% if form.description.errors %}
                <div class="alert alert-danger">
                    {{ form.description.errors }}
                </div>
            {% endif %}
        </div>
        
        <div class="mb-3">
            {{ form.end_date.label_tag }}
            {{ form.end_date }}
            {% if form.end_date.errors %}
                <div class="alert alert-danger">
                    {{ form.end_date.errors }}
                </div>
            {% endif %}
        </div>
        
        <button type="submit" class="btn btn-primary">Далее</button>
    </form>
</div>
{% endblock %} 