{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Collaborify: Новини</title>
{% endblock %}

{% load custom_tags %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/gallery.css' %}">
<div>
    <a class="gallery_b" href="{% url 'gallery-creat' %}">Додати</a>

    <div class="stycli">
        <div class="pagination">
            <!-- <a href="?page={{ paginator.next }}">&laquo;</a> -->
            {% for page_num in paginator.page_range %}
            <a href="?page={{ page_num }}">{{ page_num }}</a>
            {% endfor %}
            <!-- <a href="?page={{ paginator.}}">&raquo;</a> -->
        </div>
    </div>
        {% for photo in photos %}
            <div class="gallery">
                {% if photo.image %}
                {% if photo.image.url|endswith:".jpg" or photo.image.url|endswith:".png" or photo.image.url|endswith:".jpeg" %}
                <img class="im image-block" src="{{ photo.image.url }}" alt="img">
                {% elif photo.image.url|endswith:".mp4" %}
                <video controls>
                    <source src="{{ photo.image.url }}" type="video/mp4" >
                </video>
                {% else %}
                <a href="{{ photo.image.url }}">Завантажити</a>
                {% endif %}
                {% endif %}
                <a href="{% url 'gallary-delete' photo.id %}" class="gallery_b2" style="float: right;">Видалення</a>
                <a style="float: left;">{{ photo.creater }}</a>
            </div>
        {% empty %}
        <div class="gallery">No photo found</div>
        {% endfor %}
</div>  
    {% endblock %}