<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block title %}
    {% endblock %}
</head>
<body>
    <div class="navbar">
        <a class="home" href="{% url 'main' %}">Collaborify</a>
        <a href="{% url 'register' %}">Pеєстрація</a>
        <a href="{% url 'login' %}">Логiн</a>
        <a href="{% url 'news-list' %}">Новини</a>
        <a href="{% url 'student-list' %}">Школа</a>
        <a href="{% url 'post-list' %}">Форум</a>
    </div>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>