{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <h2>Создать голосование</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        
        <h3>Варианты ответов:</h3>
        {{ formset.management_form }}
        {% for choice_form in formset %}
            <div class="mb-3">
                {{ choice_form.as_p }}
            </div>
        {% endfor %}
        
        <button type="submit" class="btn btn-primary">Создать</button>
    </form>
</div>
{% endblock %} 