{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>Collaborify: Новини</title>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/forum.css' %}">
<div>
    <a class="forum_b" href="{% url 'post-creat' %}">Створити пост</a>
    <ul class="list-group">
        {% for post in posts %}
            <div class="forum">
                <a class="link-offset-2 link-underline link-underline-opacity-0" href="{% url 'post-detail' post.pk %}">
                    {{ post.title }}
                </a>
                <span class="badge rounded-pill text-bg-info">
                    {{ post.priority }}
                 </span>
                <span class="badge rounded-pill text-bg-info">
                    {{ post.type }}
                </span>
            </div>

        {% empty %}
        <p class="list-group-item">No posts found</p>
    </div>  
        {% endfor %}
        <div class="pagination">
            <!-- <a href="?page={{ paginator.next }}">&laquo;</a> -->
            {% for page_num in paginator.page_range %}
            <a href="?page={{ page_num }}">{{ page_num }}</a>
            {% endfor %}
            <!-- <a href="?page={{ paginator.}}">&raquo;</a> -->
        </div>
{% endblock %}